<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJMNCG140L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YJMNCG140L');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='debate-favicon.svg') }}">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header>
        <div class="header-left">
          <a href="/">
            <img src="{{ url_for('static', filename='debate-favicon.svg') }}" alt="Favicon" class="favicon-img" />
          </a>
        </div>
        <div class="header-center">TabroomPlus</div>
        <button class="settings-btn" onclick="toggleMode()">
          <i class="fa-solid fa-circle-half-stroke"></i> Theme
        </button>
    </header>

    <div class="login-container">
        <h2 class="login-title">Login</h2>
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Login</button>

            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </form>

        <div class="hint">
            Hint: Use your tabroom email and password for logging in! Your password is not stored by us.
        </div>
    </div>

    <script>
        function toggleMode() {
          document.body.classList.toggle('light-mode');
        }
    </script>
</body>
</html>